@font-face {
    font-family: 'Comic Neue Angular';
    src: url('ComicNeue-Angular-Bold.ttf');
}

body{
    font-family: 'Comic Neue Angular', sans-serif;
    font-size: 35px;
    background: #7B3E23;
    color: white;
    margin: 0;
    width: 100vw;
    height: 100vh;
    gap: 0;
    overflow-x: hidden;
}
#timer{
    top: 0;
    background: #55AD3B;
    padding: 10px;
    font-size: 25px;
    width: 100%;
}
#stock{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
}
.item{
    display: flex;
    background: #48200E;
    height: 150px;
    width: 100%;
    border-radius: 5px;
}
.item img{
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 5px solid #36180A;
    background: #855233;
}
.item_name{
    display: grid;
}
.item_name{
    display: flex;
		  justify-content: space-between;
}
.item_section{
    display: block;
		  align-content: space-between;
}
.rarity{
    display: grid;
    padding: 5px;
    height: 35px;
    width: 215px;
	background:url("rarity.png");
    background-size: 100% 100%;
    aspect-ratio: 38 / 9;
    background-blend-mode: multiply;
    text-align: center;
    align-items: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 3px;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    margin: 0;
    padding: 0;
}
button{
    margin: 0;
    padding: 0;
    height: 75px;
    width: 100px;
    font-family: 'Comic Neue Angular', sans-serif;
    font-size: 20px;
    color: white;
    border: none;
}
li:nth-child(2)> button{
    background: #55AD3B;
}
li:nth-child(3)> button{
    background: #2f73da;
}
li:nth-child(4)> button{
    background: #FD952E;
}
li:nth-child(5)> button{
    background: #12B4FD;
}
.weather{
    overflow-x: auto;
    display: flex;
    justify-content: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.weather img{
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #000000;
    background: rgba(255, 255, 255, 0.5);
}
.weatherinfo {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    z-index: 999999999;
}

.weathername {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@keyframes rainbow {
    0% {filter: hue-rotate(0deg);}
    16% {filter: hue-rotate(60deg);}
    33% {filter: hue-rotate(120deg);}
    50% {filter: hue-rotate(180deg);}
    66% {filter: hue-rotate(240deg);}
    83% {filter: hue-rotate(300deg);}
    100% {filter: hue-rotate(360deg);}
}
.error {
    position: fixed;
    top: 50vh;
    left: 50vw;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}